/**
 *
 * Apply your custom CSS here
 *
*/

body {
}

a.logo-admin {
    color: #fff;
    font-size: 25px;
}

.no-data {
    width: 360px;
    display: block;
    margin: 50px auto;
    background: #fff;
    padding: 40px 20px;
    border-radius: 3px;
    text-align: center;
}

.no-data-icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.no-data-text {
    font-size: 20px;
}

.no-data-link {
    font-size: 16px;
}

.cover-admin {
    width: 100px;
}

.icon-admin.rg-colr {
    color: red;
}

.icon-admin.gr-color {
    color: green;
}

.user-image img {
    height: 100px
}